html,
body {
  width: auto;
  width: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e0e044;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: yellow
}


h1 h3 h4 {
  color: #e0e044;
  text-align: center;
}

#TituloNav {
  color: #fff;
}

#BarraNav {
  background-color: #212121;
  position: fixed;
  transition: top 0.3s;
  top: 0;
  width: 100%;
  z-index: 1100;
}

nav .container-fluid ul li.active{
  background-color: #073b75;
}


#imgLogo {
  width: 50px;
  height: 40px;
}

.fa-bars {
  color: #fff;
}

@media screen and (max-width:600px) {
  #TituloNav {
    font-size: 16px;
  }

  #imgLogo {
    width: 40px;
    height: 40px;
  }
}

nav ul li {
  list-style: none;
  margin: 10px 30px;
}

#Home {
  width: 100%;
  height: auto;
  padding-bottom: 300px;
  background-image: linear-gradient(to right, #212121, #1d1d1d, #181818, #141414, #0f0e0e);
}

@media screen and (max-width:600px) {
  #Home {
    height: 100%;
    padding-bottom: 80px;
  }
}


#Sobremim {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right, #02050b, #0d0f12, #151517, #1b1b1c, #212121);
}
@media screen and (max-width:600px) {
  #Sobremim{
    padding-bottom: 50px;
  }
}

.nav-pills .nav-link {
 font-size: 16px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 text-transform:none !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: transparent !important;
  box-shadow: none !important;
  color: #e0e044 !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: red !important;
  background-color: white;
}

#Experiencias {
  width: 100%;
  margin: auto;
  height: auto;
  position: relative;
  background-image: linear-gradient(to right, #212121, #1d1d1d, #181818, #141414, #0f0e0e);
}


nav ul li::after {
  content: "";
  display: block;
  color: #e0e044;
  border-bottom: 2px solid #e0e044;
  margin-top: 5px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
}

nav ul li:hover::after {
  transform: scaleX(1);
}

#dev {
  width: 550px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.meuNome {
  color: #e0e044;
  display: flex;
  justify-content: center;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

@media screen and (max-width:600px) {
  .meuNome {
    font: 700 normal 2.0em 'tahoma';
  }
}


#txtApre {
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

#botao {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: auto;
  border-radius: 8px;

  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  border: 2px solid #407A52;
}

#botaopdf{
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-evenly;
  width: auto;
  border-radius: 8px;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  border: 2px solid #b43333;
}


#botaogit {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: auto;
  border-radius: 8px;

  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  border: 2px solid #5D3F6A;
}

#botaoin {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: auto;
  border-radius: 8px;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  border: 2px solid #1F4788;
}

div[id^='botaoin']:hover {
  background: #1F4788;
}

div[id^='botaogit']:hover {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  background-color: #5D3F6A;
  border: 2px solid #1F4788;
}

div[id^='botao']:hover {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 140px;
  border-radius: 8px;
  position: relative;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  background-color: hsl(180, 1%, 14%);
  border: 2px solid #1F4788;
}



#txtBotao {
  color: #fff;
  text-align: center;
  margin: auto;
}

@media screen and (max-width:600px) {
  #txtBotao {
    font-size: 18px;
    padding-top: 5px;
  }
}


#eu {
  width: 350px;
  height: 350px;
  /*margin: auto;*/
  display: block;
  border-radius: 50%;
}

@media screen and (max-width:600px) {
  #eu {
    margin: auto;
    padding: 20px;
  }
}

#mario {
  width: 400px;
  height: 400px;
  margin-left: 20%;
}

#mario {
  animation: MoveUpDown 3s linear infinite;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes MoveUpDown {

  0%,
  100% {
    bottom: 0;
  }

  50% {
    bottom: 100px;
  }
}


.meuNome,
#dev {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 5s;
  -moz-animation: fadeIn 5s;
  -o-animation: fadeIn 5s;
  -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.txtCabecalho {
  font-family: 'Silkscreen';
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 46px;
}

@media screen and (max-width:600px) {

  .txtCabecalho {
    font-family: 'Silkscreen';
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  #mario {
    width: 90%;
    height: 90%;
    margin-left: 10%;
  }

}

p {
  font-family: 'Amiri';
  color: #c4c4c4;
  display: block;
  font-size: 20px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.txtHabilidades{
  font-family: 'Amiri';
  color: #c4c4c4;
  display: block;
  font-size: 20px;
  padding: 5px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

#Projetos {
  width: 100%;
  height: auto;
  padding: 30px;
  padding-bottom: 100px;
  background-image: linear-gradient(to right, #02050b, #0d0f12, #151517, #1b1b1c, #212121);
}

#moeda {
  width: 80px;
  height: 80px;

}

.imgProjeto {
  width: 400px;
  height: 150px;
  margin: auto;
  display: flex;
  transition: 0.5s;
  justify-content: center;
  border-left: 5px solid green;
}

.imgProjeto:hover {
  transform: scale(1.2);
  border-left: 5px solid green;
}

.imgProjetoFiap {
  width: 400px;
  height: 150px;
  margin: auto;
  transition: 0.5s;
  border-left: 5px solid #E91C5D;
  display: flex;
  justify-content: center;
}

.imgProjetoFiap:hover {
  transform: scale(1.2);
  border-left: 5px solid #E91C5D;
}

.imgProjetoPp {
  width: 400px;
  height: 150px;
  transition: 0.5s;
  margin: auto;
  border-left: 5px solid #1F4788;
  display: flex;
  justify-content: center;
}

.imgProjetoPp:hover {
  transform: scale(1.2);
  border-left: 5px solid #1F4788;
}

@media screen and (max-width:600px) {
  .imgProjeto {
    width: 300px;height: 120px;
    height: 120px;
  }
  .imgProjetoPp{
    width: 300px;
    height: 120px;
  }

  .imgProjetoFiap{
    width: 300px;
    height: 120px;
  }

}

#divProjeto {
  width: 70%;
  display: flex;
  justify-content: center;
}

.descProjeto {
  color: #2b9e73;
  font-size: 1.3rem;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.descProjetoPp {
  color: #1F4788;
  font-size: 1.3rem;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

.descProjetoFiap {
  color: #E91C5D;
  font-size: 1.3rem;
  margin: 2.5rem 0;
  display: flex;
  justify-content: center;
}

#btnCRM {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 160px;
  border-radius: 8px;
  margin-top: 3rem;
  transition: 0.3s;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  background: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));


}

div[id^='btnCRM']:hover {
  transform: scale(1.2);
}

.logoLinguagem:hover{
  transform: scale(1.4);
}


#btnPp {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 160px;
  border-radius: 8px;
  margin-top: 3rem;
  transition: 0.3s;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  background: linear-gradient(109.6deg, rgb(61, 121, 176) 11.3%, rgb(35, 66, 164) 91.1%);

}

div[id^='btnPp']:hover {
  transform: scale(1.2);
}



#btnFiap {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 160px;
  border-radius: 8px;
  margin-top: 3rem;
  transition: 0.3s;
  font-weight: 400;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 55px;
  background: radial-gradient(934px at 6% 39.5%, rgb(255, 35, 90) 0.2%, rgb(255, 35, 144) 54.8%, rgb(250, 99, 160) 93.4%);

}

div[id^='btnFiap']:hover {
  transform: scale(1.2);
}



.linkbtn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 7%;
}

.logoLinguagem {
  width: 40px;
  height: 40px;
  margin-right: 1%;
  margin: auto;
}



#Habilidades {
  width: 100%;
  height: auto;
  padding-bottom: 200px;
  background-image: linear-gradient(to right, #212121, #1d1d1d, #181818, #141414, #0f0e0e);
}

@media screen and (max-width:600px) {
  #Habilidades {
    padding-bottom: 80px;
  }
}

#corpo {
  height: auto;
  width: 80%;
  margin: auto;
}

#corpo2 {

  width: 80%;
  margin: auto;
}

#cardHabilidades {
  width: auto;
  height: auto;
  background-color: #282424;
  border-radius: 2%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 5px solid #E91C5D;
}


.txtLing {
  color: #c4c4c4;
  text-align: center;
  margin-top: 2%;
}

.logoLinguagem2 {
  width: 90px;
  height: 80px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.imgSkill {
  width: 100px;
  height: 100px;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%;

}

.linkimagem {
  width: auto;
  height: auto;
  text-decoration: none;
}

#botaosoft {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 100px;
  border-radius: 50%;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 100px;
  background-image: linear-gradient(to right, #212121, #1d1d1d, #181818, #141414, #0f0e0e);

  border: 2px solid #073b75;
}

#botaohard {
  display: flex;
  align-items: center;
  padding: 3px 5px 5px;
  justify-content: space-evenly;
  width: 100px;
  border-radius: 50%;
  margin-top: 1rem;
  transition: 0.3s;
  font-weight: 600;
  font-size: 0.95rem;
  letter-spacing: 1.5px;
  height: 100px;
  background-image: linear-gradient(to right, #000000, #2a0d13, #4d0b17, #6f0712, #8e0e00);
  border: 2px solid #000;
}


.imgcrm {
  width: auto;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.Expcard {
  margin: auto;
  border-left: 5px solid #407A52;
  padding-left: 3%;
  margin-bottom: 2%;
  width: 80%;
}

.rodape {
  background-image: linear-gradient(to right, #02050b, #0d0f12, #151517, #1b1b1c, #212121);
  height: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

footer p {
  display: inline-block;
  margin: auto;
  margin-top: 2%;
  font-size: 18px;
}

#btnsCtt {
  display: flex;
  width: 70%;
  justify-content: center;
}

@media screen and (max-width:600px) {
  #btnsCtt {
    width: auto;
    padding-top: 10%;
    padding-bottom: 10%;
    padding: 20px;
  }


}

.carousel-control-next-icon::after {
  display: none;
}

.carousel-control-prev-icon::after {
  display: none;
}

.carousel .carousel-indicators img {
  margin-right: 30px;
  background-color: transparent;
}

@media screen and (max-width:600px) {
  .Expcard {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  .carousel .carousel-indicators img {
    margin-right: 30px;
    padding-top: 5%;
    background-color: transparent;
  }

  .carousel .carousel-indicators img.active {
    content: url("../img/blank_block.png");
    background-color: transparent;
  }

}

.carousel .carousel-indicators img.active {
  content: url("../img/blank_block.png");
  background-color: transparent;
}

#LinhaBotoes {
  width: 50%;
  margin: auto;
  margin-bottom: 2%;
  justify-content: center;
}

@media screen and (max-width:600px) {
  #LinhaBotoes {
    width: 100%;
  }
}

.carousel-control-next-icon{
  background-image: url("../img/flecha111.png") !important;
}
.carousel-control-prev-icon{
  background-image: url("../img/flecha22.png") !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  display: inline-block;
  width: 4rem !important;
  height: 4rem !important;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}